.auth-proof {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(48);
  margin: auto;
}

.auth-proof__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: toRem(16);
}

.auth-proof__header-icon {
  @include static-icon-size(48);
}

.auth-proof__header-subtitle {
  text-transform: capitalize;
  text-align: center;
  color: var(--text-tertiary-main);
  font-size: toRem(20);
}

.auth-proof__card {
  @include card;

  padding: 0;
}

.auth-proof__card-btn, .auth-proof__connect-btn {
  width: 100%;
}

.auth-proof__card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: toRem(32);
  background: linear-gradient(180deg, #7643E1 80%, var(--background-secondary-main) 20%);
}

.auth-proof__card-qr-wrp {
  max-width: toRem(240);
  max-height: toRem(240);
  width: 100%;
  height: 100%;
  background: var(--background-secondary-main);
  border: toRem(6) solid var(--background-secondary-main);
  box-shadow: 0 toRem(2) toRem(12) 0 rgba(0, 0, 0, 0.06), 0 toRem(1) toRem(1) 0 rgba(0, 0, 0, 0.12);
}

.auth-proof__card-qr {
  width: 100%;
  height: 100%;
  padding: toRem(16);
}

.auth-proof__card-body {
  padding-top: toRem(36);
  padding-bottom: toRem(48);
}

.auth-proof__card-title {
  text-align: center;
  text-transform: capitalize;
  max-width: toRem(310);
  width: 100%;
  color: var(--text-tertiary-main);
  font-size: toRem(16);
  line-height: 1.5;
}

.auth-proof__loader-wrp {

  @include card;
}

.auth-proof__loader {
  align-self: center;
  margin: auto;
}
